<%- include("partials/header.ejs"); -%>


<div class="heading">
    <h1 class="display-1"><%= country %></h1>
</div>

<div class="container">

    <div class="display">
        <h2>Case: <%= cases %></h2>
        <h2>Recovered: <%= recovered %></h2>
        <h2>Critical case: <%= critical %></h2>
        <h2>Deaths: <%= deaths %></h2>
    </div>
    
</div>
   


    




<%- include("partials/footer.ejs"); -%>