<%- include("partials/header.ejs"); -%>

<h1><%= country %></h1>
<h1><%= cases %></h1>
<h1><%= recovered %></h1>
<h1><%= critical %></h1>
<h1><%= deaths %></h1>

<%- include("partials/footer.ejs"); -%>